<div class="flex items-center p-4 bg-white shadow-md rounded-lg my-2 border-0 border-t" [ngClass]="{
    'border-t-green-400 border-r-0 border-l-0 border-b-0': data.type === 'success',
    'border-t-blue-400 border-r-0 border-l-0 border-b-0': data.type === 'info',
    'border-t-yellow-400 border-r-0 border-l-0 border-b-0': data.type === 'warning',
    'border-t-red-400 border-r-0 border-l-0 border-b-0': data.type === 'error'
  }">
  <div class="flex-shrink-0 mr-4" [ngClass]="{
      'text-green-500': data.type === 'success',
      'text-blue-500': data.type === 'info',
      'text-yellow-500': data.type === 'warning',
      'text-red-500': data.type === 'error'
    }">
    <mat-icon>{{icon}}</mat-icon>
  </div>
  <div class="flex-grow text-sm font-medium text-gray-700">
    {{data.message}}
  </div>
  <button class="flex-shrink-0 focus:outline-none transition-colors duration-200 hover:bg-gray-50 p-1 rounded-md"
    mat-icon-button (click)="dismiss()">
    <mat-icon class="text-gray-400 hover:text-gray-600">close</mat-icon>
  </button>
</div>